<h1>Home Page</h1>

{% load static %}
{% load webpush_notifications %}

<!--Redireciona para as funcionalidades de usuário logado-->
{% if request.user.is_authenticated %} 
<p><a href="{% url 'crime_register' %}">Registre uma ocorrência</a></p>
<p><a href="{% url 'feedback:feedback' %}">Deixe aqui o seu feedback</a></p>
{% endif %}

{% if request.user.is_authenticated %} 
<p><a href="/auth/logout">Sair</a></p>
{% else %}
<p><a href="/auth/login">Entrar</a></p>
{% endif %}


<!--Redireciona para a pagina de admin caso verifique superusuario-->
{% if request.user.is_superuser %} 
    <p><a href="/admin">Acesse a página como um administrador</a></p>
{% endif %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Calor do Crime</title>

    <!-- Include Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Include Heatmap.js -->
    <script src="{% static 'projeto_mc426/js/heatmap.js' %}"></script>
    <script src="{% static 'projeto_mc426/js/leaflet-heatmap.js' %}"></script>

    <!-- Include Leaflet Routing Machine  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <!-- Leaflet Routing Machine - OpenRoute Service -->
    <script src="https://unpkg.com/@gegeweb/leaflet-routing-machine-openroute@latest/dist/leaflet-routing-openroute.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 {% webpush_header %}
</head>
<body>

    {% webpush_button %}
    <div id="map" style="height: 500px;"></div>
    
    <!-- Django picks the data from the DB  -->
    <script>
        var crimeData = [
        {% for registro in data %}
          {lat: {{ registro.rdo_lat|stringformat:"f" }}, lng: {{ registro.rdo_lng|stringformat:"f" }}, count: {{ registro.rdo_tdo.tdo_peso }}},
        {% endfor %}
        ]
    </script>

    <!-- Include js scripts  -->
    <script src="{% static 'projeto_mc426/js/main.js' %}"></script>
    <script src="{% static 'projeto_mc426/js/routing.js' %}"></script>
    <script src="{% static 'projeto_mc426/js/geolocation.js' %}"></script>
</body>
</html>
