{% extends "base.html" %}
{% block content %}
<head>
    <p><a href="{% url 'feedback:list'%}"> Voltar à lista de feedbacks</a></p>
</head>
<body>
    <h1>{{ feedback.title }}</h1>
    <p> Usuário: {{ feedback.user.username }}</p>
    <p> Enviado em {{ feedback.pub_date }}</p>
    <p> Descrição: {{ feedback.description }}</p>
    <form action="{% url 'feedback:answer' feedback.id%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" />
      </form>
    
</body>

{% endblock %}